@font-face {
    font-family: 'EFCO';
    src: url('./assets/EFCO\ Brookshire\ Regular.ttf') format('truetype'); 
  }

body{
    background-color: #fe2725;
    font-family: 'EFCO';
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#startGame{
    border: 1px transparent;
    background-color: #fe2725;
    color: white;
    font-family: 'EFCO';
    font-size: 60px;
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
}
#startGame:hover{
    font-size: 100px;
}

.footer{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15rem;
}
.footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#sb{
    text-decoration: none;
    color: white;
}